<?xml version="1.0"?>
<ruleset name="Klientoora Card">
	<description>WordPress Coding Standards configuration for Klientoora Card.</description>

	<file>.</file>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>
	<arg value="sp"/>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/*</exclude-pattern>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>

	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="klientoora-card"/>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="klientoora_card,Klientoora_Card,KLIENTOORA_CARD"/>
		</properties>
	</rule>
</ruleset>
